body {
  font-family: Segoe UI,  Verdana, Arial, sans-serif;
  margin: 0px;
}

body div .gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

body div .gallery:hover {
    border: 1px solid #777;
}

body div .gallery img {
    width: 100%;
    height: auto;
}

body div .desc {
    padding: 15px;
    text-align: center;
}

header ul {
  background-color: #e81010;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  height: 64px;
  padding: 0px;
  margin: 0px;
}

header ul li {
    float: left;
}

header ul li:last-child {
    float: right;
}

header ul li img {
    width: 64px;
    height: 64px;
}

header ul li a {
    display: block;
    padding: 21px 21px;
    text-decoration: none;
    color: #ffffff;
}

header lu li a:hover {
  background-color: #ae0d0d;
}

neader lu li a:active {
  background-color: #cb0e0e;
}

noscript {
  background-color: #e81010;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  color: #ffffff;
}

noscript p {
  transform: translateY(-100%);
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 50%;
  width: 100%;
}
