body {
  font-family: Segoe UI,  Verdana, Arial, sans-serif;
  margin: 0;
}

ul {
  background-color: #e81010;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

li {
    border-right: 1px solid #bbb;
    float: left;
}

li:last-child {
  border-right: none;
}

a {
  font-family: Segoe UI,  Verdana, Arial, sans-serif;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #ffffff;
}

li a:hover {
  background-color: #111;
  border: 1px solid #e7e7e7;
  background-color: #6699ff;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.active {
  background-color: #4CAF50;
}
